*{
    scroll-behavior: smooth;
}
.base{
    margin-top: 13vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
.sbar{
    /* margin-left: 0; */
    width: 20vw;
    height: 100vh;
    margin:0.1rem 0;
    padding: 0.5rem;
    background-color: #047BD5;
    border: solid #047BD5;
    position: fixed;
    z-index: 1;
    border-radius: 1%;
}
.nav-link{
    color: white;
}
.mbar{
    width: 100vw;
    /* position: relative; */
    margin-left: 20rem;
    margin-top: 1.5rem;
}
hr{
    color: white;
    border: 1px solid white;
}
.car{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5%;
}
.abc:hover{
    transform: scale(1.05);
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}
.ion{
    max-height: 20vh;
    /* max-width: vw; */
}